env:
  RUST_BACKTRACE: 1

jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1
    - uses: taiki-e/install-action@v2
      with:
        tool: cargo-tarpaulin
    - run: cargo tarpaulin --out Xml --locked --all-features
    - uses: codecov/codecov-action@v3

on:
  workflow_call:
