jobs:
  docsrs:
    name: cargo +nightly doc --cfg docsrs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: nightly
    - run: cargo doc --no-deps --workspace --all-features --locked
    env:
      RUSTDOCFLAGS: --cfg=docsrs -Dwarnings

on:
  workflow_call:
