jobs:
  minimal-versions:
    name: cargo minimal-versions check --workspace
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: ${{ inputs.toolchain }}
    - run: rustup toolchain install nightly
    - uses: taiki-e/install-action@v2
      with:
        tool: cargo-hack,cargo-minimal-versions
    - run: cargo minimal-versions check --workspace --all-features

on:
  workflow_call:
    inputs:
      toolchain:
        default: stable
        type: string
